DJANGO_SETTINGS_MODULE=skippo_backend.settings.local
DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DATABASE_URL=postgresql://skippo:skippo@postgres:5432/skippo
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2
CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000
GOOGLE_MAPS_API_KEY=
EMAIL_SERVICE_API_KEY=868ba203-064e-4f45-9dd9-e6b6a1280aa7
MSG91_AUTH_KEY=
MSG91_SENDER_ID=SKIPPO
MSG91_TEMPLATE_ID=
